  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
    volumes:
      - jellyfin-config:/config
      - <%= tvshows_dir %>:/data/tvshows
      - <%= movies_dir %>:/data/movies
    ports:
      - 8096:8096
    restart: unless-stopped