  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
    volumes:
      - prowlarr-config:/config
    # ports:
    #   - 9696:9696
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=<%= timezone %>
    <%# ports:
      - 8191:8191 %>
    restart: unless-stopped 