  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
      - WEBUI_PORT=8900
    volumes:
      - qbittorrent-config:/config
      - <%= downloads_dir %>:/downloads
    <%# ports:
      - 8900:8900
      - 6881:6881
      - 6881:6881/udp %>
    restart: unless-stopped