  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
    volumes:
      - radarr-config:/config
      - <%= movies_dir %>:/movies #optional
      - <%= downloads_dir %>:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped