  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=<%= puid %>
      - PGID=<%= pgid %>
      - TZ=<%= timezone %>
    volumes:
      - sonarr-config:/config
      - <%= tvshows_dir %>:/tv #optional
      - <%= downloads_dir %>:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped