volumes:
<%= if qbittorrent do %>
  qbittorrent-config:
<% end %>
<%= if jellyfin do %>
  jellyfin-config:
<% end %>
<%= if calibre_web do %>
  calibre-web-config:
<% end %>
<%= if prowlarr do %>
  prowlarr-config:
<% end %>
<%= if sonarr do %>
  sonarr-config:
<% end %>
<%= if radarr do %>
  radarr-config:
<% end %>
<%= if readarr do %>
  readarr-config:
<% end %>
<%= if lidarr do %>
  lidarr-config:
<% end %>
<%= if kapowarr do %>
  kapowarr-db:
<% end %>
<%= if gluetun do %>
  gluetun:
<% end %>